<mat-card>
    <mat-card-content>
        <mat-error ngClass="image_error" *ngIf="errorMessage">
            {{errorMessage}}
        </mat-error>

        <span *ngIf="imageFilename" ngClass="input-file-name">{{imageFilename}}</span>
        <input type="file" id="file" ngClass="input-file" (change)="setImage($event)" />
        <label for="file">
            <mat-icon inline="true" color="primary">unarchive</mat-icon>Choose a file...
        </label>

        <button ngClass="image_button" mat-raised-button [disabled]="loading" (click)="submitHandler()">Submit</button>
    </mat-card-content>
</mat-card>