@mixin desktop {
    @media (min-width:#{840px}) {
        @content;
    }    
}

@mixin tablet {
    @media (min-width:#{600px}) {
        @content;
    }    
}

.boards {
    width: 100%;
    min-height: 22em;
    margin:0 auto;

    @include tablet {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
    }

    @include desktop {
        display: grid;
        grid-template-columns: 285px 285px 285px 285px;
    }
}  
  
.cdk-drag-placeholder {
    opacity: 0.2;
    border: 5px dashed gray;

    min-width: 320px;
    max-width: 320px;
    min-height: 22em;
    margin: 1em auto;
    padding: 15px;
    
    @include tablet {
        width: 200px;
    }

    @include desktop {
        width: 270px;
    }
}
  
.cdk-drag-animating {
    transition: transform 300ms ease;
}
  
.boards.cdk-drop-list-dragging .cdk-drag {
    transition: transform 300ms ease;
}
  
.button-card {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px gray dashed;

    min-width: 315px;
    max-width: 315px;
    min-height: 22em;
    margin: 1em auto;
    padding: 15px;

    @include tablet {
        min-width: 195px;
        max-width: 195px;
        height: calc(22em - 5px);
    }

    @include desktop {
        min-width: 255px;
        max-width: 255px;
        height: calc(22em - 5px);
    }
}
