@mixin desktop {
    @media (min-width:#{840px}) {
        @content;
    }    
}

.boards {
    width: 100%;
    padding: 24px;
    margin: 1em auto;

    @include desktop {
        display: grid;
        grid-template-columns: 24% 24% 24% 24%;
    }
}  
  
.cdk-drag-placeholder {
    opacity: 0.2;
    width: 350px;
    border: 5px dashed gray;
    margin: 0 10px;    
}
  
.cdk-drag-animating {
    transition: transform 300ms ease;
}
  
.boards.cdk-drop-list-dragging .cdk-drag {
    transition: transform 300ms ease;
}
  
.button-card {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 250px;
    max-width: 250px;
    min-height: 22em;
    padding: 10px;
    margin:0 auto;
}

.create-button-area {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px gray dashed;
    padding: 40px;
    max-height: 8em;
}
