<div *ngIf="!(userService.currentUser)">
  <h1>Login</h1>

  <button mat-raised-button appGoogleSignin>
    <img ngClass="googleLogo" src="/assets/google-logo.svg" /> Login with Google
  </button>

  <div ngClass="form-box">
    <app-email-login></app-email-login>
  </div>
</div>

<div *ngIf="!!userService.currentUser" ngClass="logout">
  <p>
    <!-- Logged in as <strong>{{ userService.currentUser.email }}</strong> -->
  </p>

  <button mat-stroked-button (click)="userService.logout()">Logout</button>
</div>