// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

$md-primary: (
  50 : #fdeae6,
  100 : #facac1,
  200 : #f7a797,
  300 : #f3836d,
  400 : #f1694e,
  500 : #ee4e2f,
  600 : #ec472a,
  700 : #e93d23,
  800 : #e7351d,
  900 : #e22512,
  A100 : #ffffff,
  A200 : #ffdfdd,
  A400 : #ffb0aa,
  A700 : #ff9890,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$md-secondary: (
    50 : #fcf6e0,
    100 : #f9e7b3,
    200 : #f5d880,
    300 : #f0c84d,
    400 : #edbc26,
    500 : #eab000,
    600 : #e7a900,
    700 : #e4a000,
    800 : #e19700,
    900 : #db8700,
    A100 : #ffffff,
    A200 : #ffeacf,
    A400 : #ffd49c,
    A700 : #ffc983,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$project-demo-primary: mat-palette($md-primary);
$project-demo-accent: mat-palette($md-secondary, A200, A100, A400);

// The warn palette is optional (defaults to red).
$project-demo-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$project-demo-theme: mat-dark-theme((
  color: (
    primary: $project-demo-primary,
    accent: $project-demo-accent,
    warn: $project-demo-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($project-demo-theme);

/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62%;
  height: 100%;

}

body {
  height: 100%;
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
